@font-face {
    font-family: 'Clarity City';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        local('Clarity City'),
        url('./ClarityCity-Regular.woff2') format('woff2'),
        url('./ClarityCity-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Clarity City';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src:
      local('Clarity City'),
      url('./ClarityCity-RegularItalic.woff2') format('woff2'),
      url('./ClarityCity-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'Clarity City';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src:
      local('Clarity City'),
      url('./ClarityCity-Light.woff2') format('woff2'),
      url('./ClarityCity-Light.woff') format('woff');
}

@font-face {
    font-family: 'Clarity City';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src:
      local('Clarity City'),
      url('./ClarityCity-LightItalic.woff2') format('woff2'),
      url('./ClarityCity-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Clarity City';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
      local('Clarity City'),
      url('./ClarityCity-Bold.woff2') format('woff2'),
      url('./ClarityCity-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Clarity City';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src:
      local('Clarity City'),
      url('./ClarityCity-BoldItalic.woff2') format('woff2'),
      url('./ClarityCity-BoldItalic.woff') format('woff');
}
